p, h1, h2, h3, h4, li, span {
    color: #4d4d4d;
    font-family: 'Roboto';
    font-weight: 400;
}

.dot {
    background: #2dd393;
    width: 5px;
    position: absolute;
    margin: 0 30px 0 30px;
    height: 5px;
    border-radius: 50%;
}

header {
    margin-top: 50px;
}

body {
    margin: 0 10% 0 10%;
}

li {
    margin-bottom: 10px;
}

.card-title {
    font-weight: 500 !important;
}

.token-green {
    background: #2dd393;
}

a {
    color: #2dd393;
}

.price-discount {
    color:#ff0000;
    text-decoration: line-through;
    font-weight: 500;
}

.price {
    font-size: 1.3em;
    font-weight: 500;
}

.card-content {
    height: 500px;
}

.card-content:not(.golden) {
    margin-top: 50px;
}

.no-discount {
    margin-top: 30px !important;
}

.green-token {
    color: #2dd393;
}

.advantages .fa-check {
    color: #2dd393;
}

#informations h1 {
    font-weight: 500;
    font-size: 2.2rem !important;
}

.btn {
    background: #2dd393;
}

.btn:hover {
    background: #2dd393;
}

.golden {
    border: 3px #fff500 solid;
    height: 600px;
}

.btn-outline {
    background: white;
    border: 2px #2dd393 solid;
    color: #2dd393;
}

.step {
    display: inline-block;
}