/* MAIN */

body {
    margin: 0 10% 0 10%;
}

p, h1, h2, h3, h4, li, span {
    color: #4d4d4d;
    font-family: 'Roboto';
    font-weight: 400;
}

.token-green {
    background: #2dd393;
}

a {
    color: #2dd393;
    text-decoration: underline;
}

.btn {
    background: #2dd393;
}

.btn:hover {
    background: #2dd393;
}

.btn-outline {
    background: #fff;
    border: 2px #2dd393 solid;
    color: #2dd393;
}

.btn-outline:hover {
    background: #2dd393;
    border: 2px #2dd393 solid;
    color: #fff;
}

.green-token {
    color: #2dd393;
}

/* HEADER */

.step {
    display: inline-block;
    margin: 0 50px 0 50px;
}

.step:after {
    content: " ";
    width: 89px;
    margin-top: 2px;
    margin-left: 9px;
    position: absolute;
    background: #2dd393;
    height: 1px;
}

.step:last-child:after {
    content: none
    
}

.step.current:before {
    content: " ";
    width: 40px;
    margin-top: -17px;
    background: white;
    margin-left: -18px;
    border: 2px solid #2dd393;
    border-radius: 50%;
    z-index: 10000;
    position: absolute;
    height: 40px;
}

header {
    margin-top: 50px;
}

.dot {
    background: #2dd393;
    width: 5px;
    position: absolute;
    height: 5px;
    border-radius: 50%;
}

/* INFOS */

#informations h1 {
    font-weight: 500;
    font-size: 2.2rem !important;
}

/* OFFERS */

.golden {
    border: 3px #fff500 solid;
    height: 600px;
}

li {
    margin-bottom: 10px;
}

.card-title {
    font-weight: 500 !important;
}

.price-discount {
    color:#ff0000;
    text-decoration: line-through;
    font-weight: 500;
}

.price {
    font-size: 1.3em;
    font-weight: 500;
}

.card-content {
    height: 500px;
}

.card-content:not(.golden) {
    margin-top: 50px;
}

.no-discount {
    margin-top: 30px !important;
}

.advantages .fa-check {
    color: #2dd393;
}

/* FOOTER */

#social {
    margin-top: 15px;
}